<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col">
      <div class="input-group mb-3 position-relative">
        <input
          type="text"
          class="form-control"
          placeholder="Enter city name"
          [(ngModel)]="city"
          (keyup)="onInputChange()"
          (keyup.enter)="searchWeather()"
        />
        <button class="btn btn-primary" (click)="searchWeather()">
          Search
        </button>

        <!-- Suggestion dropdown -->
        <ul
          class="list-group position-absolute w-100 bg-white border rounded shadow z-3"
          style="top: 100%"
          *ngIf="suggestions.length > 0"
        >
          <li
            class="list-group-item list-group-item-action"
            *ngFor="let suggestion of suggestions"
            (click)="selectSuggestion(suggestion)"
          >
            {{ suggestion.name }}, {{ suggestion.country }}
            <span *ngIf="suggestion.region">, {{ suggestion.region }} </span>
          </li>
        </ul>
      </div>

      <!-- Add d-flex and align-items-stretch to the row -->
      <div class="row d-flex justify-content-center align-items-stretch">
        <div class="col-md-6">
          <div class="card shadow h-100" *ngIf="weather">
            <!-- Add h-100 to the card to stretch it -->
            <div class="card-body text-center">
              <h2 class="card-title text-primary">Temperature</h2>
              <div>
                <h3 class="card-text">{{ weather?.current?.temp_c }} °C</h3>
                <p class="card-text">
                  <strong>Feels like</strong>
                  {{ weather?.current?.feelslike_c }} °C
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card shadow h-100" *ngIf="weather">
            <!-- Add h-100 to the card to stretch it -->
            <div class="card-body text-center">
              <h2 class="card-title text-primary">Condition</h2>
              <img
                [src]="weather?.current?.condition?.icon"
                [alt]="weather?.current?.condition?.text"
                class="img-fluid mb-3"
              />
            </div>
          </div>
        </div>
      </div>
      <app-forecast [city]="city" [days]="days"></app-forecast>
    </div>
  </div>
</div>
