<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="input-group mb-3 position-relative">
        <input
          type="text"
          class="form-control"
          placeholder="Enter city name"
          [(ngModel)]="city"
          (keyup)="onInputChange()"
          (keyup.enter)="searchWeather()"
        />
        <button class="btn btn-primary" (click)="searchWeather()">
          Search
        </button>

        <!-- Suggestion dropdown -->
        <ul
          class="list-group position-absolute w-100 bg-white border rounded shadow z-3"
          style="top: 100%"
          *ngIf="suggestions.length > 0"
        >
          <li
            class="list-group-item list-group-item-action"
            *ngFor="let suggestion of suggestions"
            (click)="selectSuggestion(suggestion)"
          >
            {{ suggestion.name }}, {{ suggestion.country }}
            <span *ngIf="suggestion.region">, {{ suggestion.region }} </span>
          </li>
        </ul>
      </div>

      <div class="card shadow" *ngIf="weather">
        <div class="card-body text-center">
          <h2 class="card-title text-primary">
            Weather in {{ weather?.location?.name }}
          </h2>
          <p class="small text-secondary mb-1">
            Country: {{ weather?.location?.country }}
          </p>
          <p class="card-text">
            <strong>Temperature:</strong>
            {{ weather?.current?.temp_c }} °C<br />
            <strong>Condition:</strong> {{ weather?.current?.condition?.text
            }}<br />
            <strong>Humidity:</strong> {{ weather?.current?.humidity }}%<br />
            <strong>Wind:</strong> {{ weather?.current?.wind_kph }} kph
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
