<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col">
      <div class="input-group mb-3 position-relative">
        <input
          type="text"
          class="form-control"
          placeholder="Enter city name"
          [(ngModel)]="city"
          (keyup)="onInputChange()"
          (keyup.enter)="searchWeather()"
        />
        <button class="btn btn-primary" (click)="searchWeather()">
          Search
        </button>

        <!-- Suggestion dropdown -->
        <ul
          class="list-group position-absolute w-100 bg-white border rounded shadow z-3"
          style="top: 100%"
          *ngIf="suggestions.length > 0"
        >
          <li
            class="list-group-item list-group-item-action"
            *ngFor="let suggestion of suggestions"
            (click)="selectSuggestion(suggestion)"
          >
            {{ suggestion.name }}, {{ suggestion.country }}
            <span *ngIf="suggestion.region">, {{ suggestion.region }} </span>
          </li>
        </ul>
      </div>

      <div class="row">
        <div class="col-md-6 mb-2">
          <app-generic-card
            [title]="'Place'"
            [mainValue]="
              weather?.location?.name + ', ' + weather?.location?.country
            "
            [subTitle]="'Region'"
            [subValue]="weather?.location?.region"
          />
        </div>

        <div class="col-md-6 mb-2">
          <app-generic-card
            [title]="'Time and date'"
            [mainValue]="weather?.location?.localtime"
            [subTitle]="'Timezone'"
            [subValue]="weather?.location?.tz_id"
          />
        </div>

        <div class="col-md-6 mb-2">
          <app-generic-card
            [title]="'Temperature'"
            [mainValue]="weather?.current?.temp_c + ' °C'"
            [subTitle]="'Feels like'"
            [subValue]="weather?.current?.feelslike_c + ' °C'"
          />
        </div>

        <div class="col-md-6 mb-2">
          <app-condition-card [imgSrc]="weather?.current.condition.icon" />
        </div>

        <div class="col-md-6 mb-2">
          <app-generic-card
            [title]="'Wind'"
            [mainValue]="weather?.current.wind_kph + ' km/h'"
            [subTitle]="'Direction'"
            [subValue]="weather?.current.wind_dir"
          />
        </div>

        <div class="col-md-6 mb-2">
          <app-generic-card
            [title]="'Pressure and rain'"
            [mainValue]="weather?.current.pressure_mb + ' hPa'"
            [subTitle]="'Precipitation'"
            [subValue]="weather?.current.precip_mm + ' mm'"
          />
        </div>
      </div>
      <app-forecast [city]="city" [days]="days"></app-forecast>
    </div>
  </div>
</div>
